{% extends "rest_framework/base.html" %}


{% block branding %}
  <a class='navbar-brand text-white' href='/api/users/users/'>👤 Users</a>

  <a class='navbar-brand' href='/api/courses/courses/'>📚 Courses</a>
  
  <a class='navbar-brand' href='/api/enrollments/'>📥 Enrollments</a>

  <a class='navbar-brand' href='/api/assignments/'>📝 Assignments</a>

  <a class='navbar-brand' href='/api/submissions/'>🔁 Submissions</a>

  <a class='navbar-brand' href='/api/payments'>📥 Payments</a>

  <a class='navbar-brand navbar-active' href='/'>🏠 Home</a>
{% endblock %}



